/.vscode
/.venv
/dataset
TODO.md
/bkp
/**/__pycache__
# /renderings/
/other_experiments/
.env

# main route ===========================
2-sota/pth/
2-sota/n2n/
2-sota/n2v/
2-sota/bm4d/
2-sota/SRDTrans/pth/

3-freq2clean/A-frequency_fusion/results/
3-freq2clean/A-frequency_fusion/best/

3-freq2clean/snapshots/
3-freq2clean/trainings/*/snaps/
3-freq2clean/trainings/*/weights/
3-freq2clean/recordings/
3-freq2clean/*Freq2Clean_Train.ipynb
3-freq2clean/onnx/
3-freq2clean/deepcad_pth/
3-freq2clean/deepcad_results/

4-segmentation/dataset/
4-segmentation/results/**/*.npy
4-segmentation/cite-on
4-segmentation/crosscontamination
4-segmentation/manual_corrected_masks

# other_experiments ====================
other_experiments/diffdenoise/dataset/
other_experiments/diffdenoise/dataset.zip
other_experiments/diffdenoise/pth
other_experiments/diffdenoise/results

other_experiments/unet/dataset/
other_experiments/unet/pth

other_experiments/deepcad_diffusion/dataset/
other_experiments/deepcad_diffusion/pth
other_experiments/deepcad_diffusion/results/**/pred/

other_experiments/cnnt/**/wandb
other_experiments/cnnt/**/*.pth
other_experiments/cnnt/dataset/Denoising
other_experiments/cnnt/train.log
other_experiments/cnnt/logs/model/

# pattern matching ======================
/**/__pycache__
/**/onnx
*.tif
*.tiff
**/*.h5
