/.venv
/dataset
/**/__pycache__
/**/onnx
*.tif
*.tiff
**/*.h5

2-denoise/pth/

3-deepcad_improvement_with_diffusion/dataset/
3-deepcad_improvement_with_diffusion/dataset.zip
3-deepcad_improvement_with_diffusion/pth
3-deepcad_improvement_with_diffusion/results

4-simple_unet/dataset/
4-simple_unet/pth
# 4-simple_unet/results

5-next_frame_unet/dataset/
5-next_frame_unet/pth
5-next_frame_unet/results/**/pred/

7-cnnt/**/wandb
7-cnnt/**/*.pth
7-cnnt/dataset/Denoising
7-cnnt/train.log
7-cnnt/logs/model/