/.venv
/dataset
/**/__pycache__
/**/onnx
*.tif
*.tiff
3-deepcad_improvement_with_diffusion/dataset/
3-deepcad_improvement_with_diffusion/dataset.zip
3-deepcad_improvement_with_diffusion/pth
3-deepcad_improvement_with_diffusion/results