numpy
matplotlib
opencv-python
tifffile
torch
deepcad
pandas
csbdeep
bm3d
scikit-image
requests
termcolor
diffusers
accelerate
transformers
einops
torchvision
pytorch_msssim
moviepy==1.0.3
h5py
cupy-cuda12x
careamics
suite2p